{% extends "iniciodepagina/menuinicio.html" %}

{% block contenido %}
<div class="row">
    <div class="col-10 offset-1">
        <h3>Confirma la Eliminacion del Paciente</h3>
        <div class="alert alert-danger h5">
            ¿Estás seguro que deseas eliminar a este paciente
            {{ paciente.primernombre }} {{ paciente.primerapellido }} {{ paciente.segundoapellido }}?
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-dark" href="{% url 'pacientes' %}">Cancelar</a>
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="submit">Confirmar Eliminacion</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}